.speedDialIcon{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    object-fit: cover;

}
.speedDial{
    position: fixed;
    right: 2.5vmax;
    top:25px;
    
}
.speedDial.active{
    top: 8vmax;
    
}
.MuiFab-primary {
    color: #fff;
    margin-top: 30px;
    background-color: #3f51b5;
}